APP_URL=http://192.168.15.50:3333
NODE_ENV=development

# Auth

APP_SECRET=55e471c53783324c1dd81dc1e1d72ca8

# Database

DB_HOST=localhost:5432
DB_USER=postgres
DB_PASS=docker
DB_NAME=gobarber

# Mongo

MONGO_URL=mongodb://localhost:27017/gobarber

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=9286691b460cd4
MAIL_PASS=dfe9a6dddc84d6

# Sentry

SENTRY_DSN=https://d80cbf2f5f294d6a8a3f5cfc665beebf@sentry.io/1798598
